:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  height: 100vh;
}
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.gameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.board > h1 {
  margin: 0;
}
.game {
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(4, 75px);
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid blue;
  background-color: rgb(41, 51, 197);
}
.circle {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #242424;
  border: 2px solid black;
  overflow: hidden;
  font-size: 45px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
  gap: 10px;
}

.is-selected {
  width: 90px;
  height: 90px;
}
.noWin {
  display: none;
}
.noWin.winModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000d4;
}
.modal {
  width: 350px;
  height: 370px;
  background: #2c2929;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.resetGame {
  cursor: pointer;
  background-color: #242424;
  border: 2px solid rgb(255, 255, 255);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
}
.insideCircle {
  width: 100%;
  height: 100%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}

/* .insideCircle
.insideCircle */
